// миксин, с помощью которого указываем размер таким образом --->
// size(100%, 50px) или просто size(100%), тогда он туда и туда пойдет
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@mixin plaxeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  ::-ms-input-placeholder {
    @content;
  }
}

@mixin btnStyles {
  border-radius: 8px;
  border: 2px solid #000000;
  color: #201d45;
  outline: none;
  padding: 0.4rem 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3 ease;
  font-weight: bold;
  &:hover {
    background-color: #0010ee31;
  }
}


.trough-text {
  text-decoration: line-through;
}